*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

/* anchor tag links */
a {
 color: tan; 
}


/* Color of background  */
body{

    width: 100%;
    height: 100vh;
    background-image: linear-gradient(white,aqua );
    place-items: center;
    display: grid;
    }


    h1 {
        padding-bottom: 20px;
    }


    ol {
        padding-left: 20px;
    }